body, html {
    width: 1600px;
    margin: auto;
    padding: 0px;
}
/* ___HEADER___ */ 
.header {
    width: 100%;
    height: 737px;
    background-image: url(/Images/header__background.png);
}
.header a {
    color: #505050;
    text-decoration: none;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    font-family: "Roboto";
}
.header__navbar {
    width: 100%;
    height: 116px;
    background: rgba(196, 196, 196, 0.1);
    display: flex;
    font-family: "Roboto";
}
.header__navbar__container__1 {
    width: 14%;
    margin-left: 15%;
    position: relative;
    top: 45px;
    display: flex;
    justify-content: space-between;
}
#header__navbar__container__2 {
    width: 43%;
    margin-top: 44px;
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
}
.logo {
    position: relative;
    top: -23px;
}
.header__button {
    width: 234px;
    height: 60px;
    background: #9B9BCA;
    color: #ffffff;
    border-radius: 10px;
    top: -16px;
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    border: rgba(255, 255, 255, 0);
    
}
.header__button__modifier {
    top: 30px;
    left: 15%;
}
.header__content {
    margin-top: 196px;
    margin-left: 15%;
    width: 46%;
    height: 223px;
    
}
.header__info__title {
    width: 74%;
    font-weight: normal;
    font-size: 56px;
    line-height: 100%;
    color: #696A86;
    font-family: 'DM Serif Display';
}
.header__info__text {
    margin-top: 30px;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    color: #696A86;
    font-family: 'Poppins'
}

#menu__icon {
    display: none;
}

/* __SERVICES_SECTION__*/

.services {
    width: 100%;
    margin-top: 95px;
}

.services__title {
    width: 45%;
    height: 143px;
    margin: auto;
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 550;
    font-size: 26px;
    line-height: 39px;
    color: #626780;
}
.services__subtitle {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    color: #626780;
    margin-top: 12px;
}
.services__cards__container {
    width: 68%;
    height: 243px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 95px;
}

.services__card {
    width: 23%;
    height: 227px;
    display: flex;
    flex-direction: column;
    padding-top: 23px;
    align-items: center;
    text-align: center;

}
.services__cards__container :hover { /*fixare hover on children elements*/ 
    border: 1px solid #9D9D9D;
    border-radius: 5px;
    border-bottom: 7px solid #9D9D9D;
}
.card__title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #626780;
    margin-top: 21px;
}
.card__text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #626780;
    font-family: "Poppins";
}

.services__info__and__image {
    width: 62%;
    height: 388px;   
    margin: auto;
    margin-top: 192px;
    display: flex;
    justify-content: space-between;
}

.services__info {
    position: relative;
    top: 100px;
}
.services__info__title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #626780;
    width: 493px;
}
.services__info__text {
    margin-top: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #626780;
}
/*__expand__demo__section*/
.expand__demo {
    margin-top: 109px;
    height: 1100px;
    width: 100%;
    
}

.expand__demo__title {
    width: 34%;
    height: fit-content;
    margin-left: 19%;
    color: #402B2B;
    font-family: "PT Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 140%;
    margin-top: 180px;
}

/*__faq__section__*/
.faq__section {
    position: relative;
    top: 200px;
    height: fit-content;   
}
.faq__section__title {
    width: 34%;
    height: fit-content;
    margin-left: 19%;
    color: #402B2B;
    font-family: "PT Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 140%;
    margin-top: 189px;
}

.faq__section__container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
    width: 69%;
    height: fit-content;
    margin-left: 19%;
    position: relative;
    top: 55px;
}

.faq__column__1, .faq__column__2 {
    width: 49%;
    height: fit-content;
    position: relative;
    margin-top: 100px;
}
.faq__column__2 {
    position: relative;
    
}

.faq__column__2__background__2 {
    background-image: url(/Images/faq__image__background.png);
    background-position: top;
    position: absolute;
    top: -540px;
    width: 142%;
    height: 1030px;
}
.faq__button__accordion {
    width: 96%;
    height: 90px;
    background-color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 0px 20px 40px #F5F5FF;
    border-radius: 23px;
    text-align: left;
    padding-left: 35px;
    padding-right: 3%;
    position: relative;
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.faq__question__text {
    width: 67%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;  
    color: #402B2B;
    align-self: center;
    position: relative;
}

.faq__answer {
    width: 89.5%; 
    height: 0px;
    overflow: hidden;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: relative;
   z-index: 1;
    transition: height .3s ease-in-out;
    background: #F5F5FF;
    box-shadow: 0px 25px 59px rgba(191, 191, 236, 0.72);
    border-radius: 10px;
    position: relative;
    top: -80px;
    padding-left: 35px;
    padding-top: 40px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #402B2B;
}
.faq__answer p {
    width: 88%;
}


.accordion__modifier {
    position: relative;
    top: 200px;
    left: 20px;
}

#load__more {
    position: relative;
    width: 34%;
    height: 90px;
    text-align: center;
    margin-left: 34%;
    top: 250px;
    background: #9B9BCA;
    border-radius: 10px;
    border: rgba(255, 255, 255, 0);
    font-family: "Rubik";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    cursor: pointer;
}

.load__later {
    display: none;
}


/*___feature__section___*/

.features__section {
    position: relative;
   top: 670px;
   background-image: url(/Images/features__section__background.svg);
   background-repeat: no-repeat;
   background-position-y: 280px;
}

.features__section__title {
    width: 20%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #626780;
   margin: auto;
}
.features__section__title p {
    width: 210%;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #626780;
    position: relative;
    left: -52%;
    margin-top: 12px;
}

.features__section__container {
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 162px;

}

.features__section__box {
    width: 45.6%;
    height: 545px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
}

.features__box__image {
    margin: 11% 11.6% ;
}
.features__box__title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    color: #000000;
}
.features__box__info {
    width: 78%;
    margin-top: 22px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #626780;
}

.features__box__button {
    width: 52%;
    height: 60px;
    background-color: #9595c9;
    border-radius: 10px;
    color: #FFFFFF;
    border: rgba(255, 255, 255, 0);
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    position: relative;
    top: 100px;
}

.box__2__button__modifier {
    background: #F01F35;
    top: 100px;
}

.features__section__container__2 {
    margin-top: 236px;
    display: flex;
    justify-content: space-between;
}

.features__container__2__img {
    position: relative;
    top: -260px;
}

.features__title__modifier {
    width: 41%;
    margin-left: 15%;
}

.feature__section__slide {
    width: 488px;
    height: 345px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
    border-radius: 10px; 
    display: block;
    position: relative;
    left: 100px;
    margin-top: 103px;   
}

.slide__text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #9D9D9D;
    margin: 0px 91px 0px 37px ;
    padding-top: 60px;
}

#next__slide {
    position: relative;
    top: -170px;
    left: 60%;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border:  rgba(255, 255, 255, 0);
}

.slide__user {
    display: flex;
    margin-top: 34px;
    margin-left: 37px;

}
.slide__user__info {
    margin-top: 14px;
    margin-left: 48px;
}

.slide__username {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #626780;
}
.slide__overall {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #9D9D9D;
}

.slide__rating {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 30px;
    color: #9D9D9D;
}

#rating {
    margin-right: 4px;
}

.slide__modifier {
    display: none;
}

.slide__user__avatar {
    height: 98px;
    width: 98px;
    border-radius: 50%;
    box-shadow: 2px 8px 15px rgba(147, 147, 147, 0.25);
}


/*____REGISTRATION SECTION___*/

.registration__section {
    position: relative;
    margin-top: 530px;
}

.registration__section__title {
    margin-left: 15%;
    font-family: "PT Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 140%;
    color: #402B2B;
}

.registration__form__container {
    width: 33.4%;
    height: 458px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.4);
    border-radius: 10px;
    padding-left: 173px;
    padding-top: 108px;
    margin-top: 82px;
}

.registration__form {
    height: 346px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registration__form label {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #626780;
}
.registration__text__field input {
    width: 56.7%;
    height: 60px;
    border: 1px solid #9595C9;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 40px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 40px;
    outline: none;
}

#name::placeholder {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color: #626780;
}

#sign__in {
    width: 220px;
    height: 60px;
    background: #9595C9;
    border-radius: 5px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    border: rgba(255, 255, 255, 0);
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

#sign__in:hover {
    cursor: pointer;
}

.sign__up__here {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 40px;
    color: #626780;
}

.sign__up__here__red {
    color: #F01F35;
}

.sign__up__here__red:hover {
    cursor: pointer;
}

/*___FOOTER__SECTION__*/

.footer {
    background-image: url(/Images/Footer__background.png);
    height: 480px;

    margin-top: 132px;
}

.footer__container {
    width: 52%;
    height: 162px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 200px;
}

.footer__column__title {
    margin-bottom: 12px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;

}

.footer__content {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #E6E6E6;
    display: flex;
    
}

.footer__icons {
    width: 69%;
    
    display: flex;
    margin: auto;
    justify-content: space-between;
    color: #FFFFFF;
    margin-top: 77px;
}

.copyright {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
}

.footer__social__icons {
    width: 170px;
    display: flex;
    justify-content: space-between;
    margin-left: 40%;
    margin-top: -7px;
}

.footer__dreammaker__logo{
    display: flex;
}

#dw__logo{ 
    margin-top: -4px;
}

.dw__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;

}

@media only screen and (max-width: 480px) {
    
body, html {
    width: 100%;
    margin: auto;
    padding: 0px;
    min-width: 400px;
}

.header__navbar {
    display: flex;
    flex-direction: column;
}
.header__navbar__container__2 {
    display: flex;
    flex-direction: column;
}
.header__button {
    width: 60%;
    top: 20%;
}
.header__info__title {
    font-size: 30px;
    width: 90%;
    text-align: center;
    margin: auto;
}
.header__info__text {
    font-size: 13px;
    text-align: center;
}

.header__button__modifier {
    top: 100px;
    margin: auto;
}
.services {
    width: 100%;
    margin-top: 25px;
}
.services__title {
    font-size: 20px;
    line-height: 30px;
}
.services__subtitle {
    font-size: 13px;
    line-height: 23px;
}
.services__cards__container {
    width: 78%;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 125px;
}
.services__card {
    width: 83%;
}
.services__info__and__image {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    width: 90%;
    margin-top: 190px;
}
.services__image {
    width: 90%;
    margin: auto;
}
.services__info__title {
    width: 100%;
    font-size: 22px;
}
.services__info__text {
    width: 100%;
    font-size: 14px;
    text-align: center;
}
.expand__demo__title {
    width: 90%;
    margin-top: 230px;
    margin-left: 2%;
    text-align: center;
    font-size: 34px;
}
.faq__section {
    top: -700px;
}
#faq__image  {
    display: none;
}
.faq__section__title {
    width: 80%;
    font-size: 30px;
}
.faq__column__2__background__2 {
    display: none;
}
.faq__section__container {
    display: flex;
    flex-direction: column;
}

.faq__column__1, .faq__column__2 {
    width: 100%;
    margin-top: 40px;
    justify-content: start;
}

.faq__question__text {
    width: 90%;
}
#load__more {
    width: 50%;
    margin-left: 20%;
    margin-top: 20%;
    height: 80px;
    font-size: 14px;
}
.features__section {
    top: -500px;
}
.features__section__title {
    width: 80%;
    font-size: 20px;
    margin-top: 200px;
    left: 10%;
    position: relative;
}
.features__section__title p {
    width: 110%;
    left: -22%;
    font-size: 14px;
}
.features__section__container{
    flex-direction: column;
    width: 80%;
}
.features__section__box {
    width: 100%;
}
.features__section__box__modifier {
    margin-top: 200px;
}
.features__box__info {
    width: 84%;
    font-size: 14px;
}
.features__container__2__img {
    display: none;
}
.feature__section__slide {
    left: 40px;
    width: 70%;
}
.slide__text {
    font-size: 13px;
    line-height: 20px;
    width: 80%;
    height: fit-content;
}
.slide__username {
    font-size: 13px;
}
.slide__rating {
    font-size: 8px;
}
.slide__user__info {
    height: fit-content;
    min-width: 180px;
}
#next__slide {
    position: relative;
    top: -170px;
    left: 90%;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border:  rgba(255, 255, 255, 0);
}
.registration__section {
    position: relative;
    margin-top: -330px;
}
.registration__section__title {
    font-size: 34px;
}
.registration__form__container {
    width: 80%;
    padding-left: 63px;
    padding-top: 78px;
    margin-left: 10%;
}
.registration__text__field input {
    width: 76.7%;
}
.footer__container {
    width: 85%;
    padding-top: 50px;
}
.footer__content {
    font-size: 9px;
}
.footer__column__title {
    font-size: 12px;
}
.footer {
    margin-top: 70px;
    width: 110%;
    background-position: center;
    height: 400px;
}
.footer__icons {
    width: 90%;
    margin: 80px 20px;
}
.footer__social__icons {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-top: -7px;
}

/*hamburger__menu*/
#menu__icon {
    display: block;
    width: 30px;
    height:  30px;
    position: relative;
    
}

.header__navbar__container__1 {
    width: 80%;
    margin-left: 15%;
    position: relative;
    top: 45px;
    display: flex;
    justify-content: space-between;
}
#menu__button {
    height: 40px;
    top: -20px;
    border: none;
    box-shadow: 0px 9px 30px 9px rgba(50, 50, 50, 0.4);
    border-radius: 20%;
    background-color: rgba(0, 0, 0, 0.1);
}

#header__navbar__container__2 {
    display: none;
    width: 26%;
    margin-left: 73%;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: end;
    border-radius: 6px 0px 0px 6px;
}
.header__content {
    position: relative;
    margin-left: 25%;
    margin-top: 100px;
    
    
}
.header__button__mobile {
    width: 85%;
    height: 30px;
    font-size: 14px;
}
.header__button__modifier {
    top: 25%;
    left: 20%;
}

}
